<section class="modal-create-task">
    <h2 mat-dialog-title>Adicionar nova tarefa</h2>
    <mat-dialog-content class="mat-typography">
        <form>
            <div class="mb-3">
                <label for="inputTitle" class="form-label">Título</label>
                <input type="text" class="form-control" id="inputTitle" aria-describedby="tituloHelp">
            </div>
            <div class="mb-3">
                <label for="contentTextarea" class="form-label">Conteúdo</label>
                <textarea class="form-control" id="contentTextarea" rows="5" cols="3"></textarea>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="submit" class="btn btn-secondary me-1" mat-dialog-close>CANCELAR</button>
        <button type="submit" class="btn btn-primary">SALVAR</button>
    </mat-dialog-actions>
</section>