<section class="container-fluid vh-100 login-section">
    <div class="row h-100">
        <div class="d-flex align-items-center justify-content-center col-md-6">
            <div class="col-6">
                <h1>KANBAN</h1>
                <div class="card">
                    <div class="card-body">
                        <app-login-form></app-login-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-lg-block content-right">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <img src="assets/images/kanban.png">
            </div>
        </div>
    </div>
</section>