<section class="container-fluid vh-100 login-section">
    <div class="row h-100">
        <div class="d-flex align-items-center justify-content-center col-md-6">
            <div class="card" style="width: 50%">
                <div class="card-body">
                    <app-login-form></app-login-form>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-lg-block content-right">
            <div class="h-100 d-flex align-items-center justify-content-center ">
            </div>
        </div>
    </div>
</section>