@import '~/src/styles/_variables.scss';

.card {
    border: none;

    .card-body {
        font-size: 14px;

        h5 {
            width: 83%;
        }

        img {
            height: 100px;
            width: 250px;
        }

        .button-menu {
            border: none;
            border-radius: 50%;
        }

    }
}