@import '~src/styles/_variables.scss';

.jumbotron {
    border-radius: 10px;
    padding: 10px;
    background: $background-jumbotron;

    .title {
        font-weight: 600;
    }

    .card {
        border: none;
    }
}