$color-error: #d9534f;
$color-success: #4bb543;
$color-white: #ffffff;
$login-background: #F1F1F1;
$green-primary: #106347;
$background-jumbotron: #f3f4fa;
$background-modal-blur: rgba(255, 255, 255, 0.2);